<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593033014388-oj1ra1mcqr66vtn469sckh67ur8165j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593033014388-oj1ra1mcqr66vtn469sckh67ur8165j4</string>
	<key>API_KEY</key>
	<string>AIzaSyAgD7N6Neyn9BK3Ccuj4Cyrk4d9pqqLBfY</string>
	<key>GCM_SENDER_ID</key>
	<string>593033014388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loopsocial</string>
	<key>PROJECT_ID</key>
	<string>loop-social-dbed0</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-social-dbed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593033014388:ios:bc09467ec98734a66c3521</string>
</dict>
</plist>